@model WEBSITE_MOTEL.Models.PHONGTRO
@using WEBSITE_MOTEL.Models
@{
    TAIKHOAN nd = (TAIKHOAN)Session["TaiKhoan"];
    CHUTRO ct = (CHUTRO)Session["ChuTro"];
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutUser.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
@using (Html.BeginForm("Index", "RoomPost", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="nav-text">
        <ol>
            <li><a href="@Url.Action("Index","Motel")">Trang chủ</a></li>
            <li id="arrow1">  <i class="fa fa-angle-right"></i>  </li>
            <li><a href="#">Đăng phòng</a></li>
        </ol>
    </div>
}

<section class="wrap-content">
    @Html.AntiForgeryToken()
    <div class="content post" style="border: none;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h3 class="notice">Là người văn minh và tôn trọng người xem, hãy viết nội dung bằng Tiếng Việt có dấu!</h3>
        <form class="form" id="form-dangtin" enctype="multipart/form-data" novalidate="novalidate" method="post">
            <div class="wrapper form-step step1">
                <!--Thông tin cơ bản-->
                <div class="group-form">
                    @{
                        if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success">
                                @TempData["SuccessMessage"]
                            </div>
                        }
                    }
                    <div class="form-title"><h3>THÔNG TIN CƠ BẢN</h3></div>
                    <div class="group-form-body">
                        <div class="form-group">
                            <label for="tieude">Tiêu đề tin:</label>
                            <input type="text" class="form-control" id="tieude" name="sTieuDe" placeholder="Hãy đặt tiêu đề đầy đủ, ý nghĩa khách hàng sẽ quan tâm hơn" required>
                        </div>

                        <!--form-row 1-->
                        <div class="form-row">
                            <div class="form-group">
                                <label for="type">Loại hình cho thuê:</label>
                                <select class="form-control" id="type">
                                    <option>Chọn loại hình cho thuê</option>
                                    <option>Thuê phòng trọ</option>
                                    <option>Thuê nhà</option>
                                    <option>Chung cư mini</option>
                                    <option>Mặt bằng kinh doanh</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-inline">
                            <div class="form-group ">
                                <input type="hidden" size="70" name="sid" value="@ct.Id" readonly />
                            </div>

                        </div>
                        <!--form-row 2-->
                        <div class="form-row">
                            <div class="form-group">
                                <label for="price">Giá cho thuê:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="price" name="mGiaCa" oninput="formatNumber(this)">
                                    <span class="input-group-addon">đồng/tháng</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sDienTich">Diện tích:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="sDienTich" oninput="formatNumber(this)">
                                    <span class="input-group-addon">m²</span>
                                </div>
                            </div>
                        </div>

                        <!--form-row 3-->
                        <div class="form-row">
                            <div class="form-group">
                                <label for="sSoLuong">Số người ở:</label>
                                <input type="number" class="form-control" name="sSoLuong" min="1" required onkeydown="return event.key !== '-'">
                            </div>
                            <div class="form-group">
                                <label for="sSoPhong">Số lượng phòng:</label>
                                <input type="number" class="form-control" name="sSoPhong" min="1" required onkeydown="return event.key !== '-'">
                            </div>
                        </div>



                        <!--form-row 4-->
                        <div class="form-row">
                            <div class="form-group">
                                <label for="dNgayCapNhat">Ngày đăng:</label>
                                <input type="date" class="form-control" id="dNgayCapNhat" name="dNgayCapNhat">
                            </div>
                        </div>
                        <div class="form-inline">
                            <div class="form-group ">
                                <input type="hidden" size="70" name="sTrangThai" value="0" readonly />
                            </div>

                        </div>
                        <!--form-row 5-->
                        <h4 style="margin-left:10px">Giá dịch vụ cơ bản:</h4>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="price-electric">Giá điện:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="price-electric" name="sDien" oninput="formatNumber(this)">
                                    <span class="input-group-addon">đồng/số</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="price-water">Giá nước:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="price-water" name="sNuoc" oninput="formatNumber(this)">
                                    <span class="input-group-addon">đồng/m³</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="price-internet">Internet:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="price-internet" name="sInternet" oninput="formatNumber(this)">
                                    <span class="input-group-addon">đồng/tháng</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="price-park">Gửi xe:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="price-park" name="sGuiXe" oninput="formatNumber(this)">
                                    <span class="input-group-addon">đồng/tháng</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Phần địa chỉ-->
                <div class="group-form">
                    <div class="form-title"><h3>ĐỊA CHỈ</h3></div>
                    <div class="group-form-body">
                        <div class="form-inline">
                            @*<div class="form-group">
                        <label for="province">Khu vực</label></br>
                        <input id="pac-input" class="controls" type="text" placeholder="Nhập khu vực..."  name="sKhuVuc">
                    </div>*@
                            <div class="form-group">
                                <label for="ward">Phường/Xã</label></br>
                                <select class="form-control" id="ward" name="sKhuVuc">
                                    <option>Phường/Xã</option>
                                    <option>Định Hòa</option>
                                    <option>Phú Hòa</option>
                                    <option>Hoàng Đạo Thúy</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--Thông tin vị trí cụ thể-->
                            <label for="pac-input">Số nhà, Tên đường cụ thể</label></br>
                            <input id="pac-input" class="controls" type="text" placeholder="  Nhập địa chỉ nhà chi tiết..." name="sDiaChi" style="width:300px">
                            <br />
                            @*<p style="position: absolute; top: 85px; color:rgba(89, 68, 206, 0.88) ">Vị trí trên bản đồ.</p>
                    <i style="position: absolute; top: 110px;color: #E74C3C; font-size: 0.8em">
                        Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn,
                        hãy sửa vị trí tin rao của bạn trên bản đồ bằng cách kéo icon <img src="~/images/img-map/position-marker.png" style="width: 20px;height: 25px;"> tới đúng vị
                        trí	của tin rao.
                    </i>
                    <div id="map"><input type="url" name="sMap" /></div>*@
                        </div>
                    </div>
                </div>
                <!--Thông tin mô tả chi tiết-->
                @*<div class="group-form">
            <div class="form-title"><h3>THÔNG TIN MÔ TẢ CHI TIẾT</h3></div>
            <div class="group-form-body">
                <div class="form-group">
                    <label for="comment">Giới thiệu mô tả về tin đăng của bạn. Ví dụ: Khu nhà có vị trí thuận lợi: Gần trường học, gần trạm xe buýt ...Tổng diện tích 52m2, đường đi ô tô vào tận cửa...</label>
                    <textarea class="form-control" rows="5" id="comment" name="sMoTa"></textarea>
                </div>
            </div>
        </div>*@
                <div class="form-group">
                    <div class="form-title"><h3>THÔNG TIN MÔ TẢ CHI TIẾT</h3></div>
                    <div class="group-form-body">
                        <div class="form-group">
                            <label for="comment">Giới thiệu mô tả về tin đăng của bạn. Ví dụ: Khu nhà có vị trí thuận lợi: Gần trường học, gần trạm xe buýt ...Tổng diện tích 52m2, đường đi ô tô vào tận cửa...</label>
                            <textarea name="sMoTa" id="mota">@ViewBag.MoTa</textarea>
                            <script>CKEDITOR.replace("mota")</script>
                        </div>
                    </div>
                </div>

                <!--Phần hình ảnh hoặc video-->
                <div class="group-form">
                    <div class="form-title"><h3>HÌNH ẢNH HOẶC VIDEO VỀ PHÒNG TRỌ.</h3></div>
                    <div class="group-form-body">
                        <p style="color: #044880; font-size: 0.9em">Tin đăng có hình ảnh hoặc video rõ ràng sẽ được xem và gọi gấp nhiều lần so với tin rao không có. Hãy đăng ảnh hoặc video để được giao dịch nhanh chóng!</p>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>LƯU Ý*: NHẤN CTRL TRONG LÚC CHỌN ẢNH ĐỂ CHỌN ĐƯỢC NHIỀU ẢNH CÙNG LÚC (NÊN CHỌN 5 HÌNH ẢNH).</p>
                                    <p>Định dạng ảnh hỗ trợ: .jpg .png .jpeg .gif - Dung lượng ảnh không quá 2MB</p>

                                    @*<input type=file id="files" name="fFileUpload" multiple accept="" required />*@
                                    @Html.TextBox("fFileUpload", "", new { type = "file", multiple = "multiple", accept = "image/*" })

                                    <br />

                                    <div class="filearray">

                                    </div>
                                    @* script của multiple upload *@
                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                    <script>
                                        $(document).on('ready', () => {
                                            $("#fFileUpload").on('change', function () {
                                                $(".filearray").empty();
                                                for (let i = 0; i < 5; ++i) {
                                                    let filereader = new FileReader();
                                                    let $img = jQuery.parseHTML("<img width='150' height='100' src=''>");
                                                    filereader.onload = function () {
                                                        $img[0].src = this.result;
                                                    };
                                                    filereader.readAsDataURL(this.files[i]);
                                                    $(".filearray").append($img);
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function validateForm() {
                        var title = document.getElementById("tieude").value;
                        var type = document.getElementById("type").value;
                        var price = parseNumber(document.getElementById("price").value);
                        var area = parseNumber(document.getElementsByName("sDienTich")[0].value);
                        var numberOfPeople = parseNumber(document.getElementsByName("sSoLuong")[0].value);
                        var numberOfRoom = parseNumber(document.getElementsByName("sSoPhong")[0].value);
                        var date = document.getElementsByName("dNgayCapNhat")[0].value;
                        var address = document.getElementsByName("sDiaChi")[0].value;
                        var servicePriceElectric = parseNumber(document.getElementById("price-electric").value);
                        var servicePriceWater = parseNumber(document.getElementById("price-water").value);
                        var servicePriceInternet = parseNumber(document.getElementById("price-internet").value);
                        var servicePricePark = parseNumber(document.getElementById("price-park").value);
                        var fileUpload = document.getElementById("fFileUpload").files.length;

                        var fields = {
                            "Tiêu đề tin": title,
                            "Loại hình cho thuê": type,
                            "Giá cho thuê": price,
                            "Diện tích": area,
                            "Số người ở": numberOfPeople,
                            "Số lượng phòng": numberOfRoom,
                            "Ngày đăng": date,
                            "Địa chỉ": address,
                            "Giá điện": servicePriceElectric,
                            "Giá nước": servicePriceWater,
                            "Internet": servicePriceInternet,
                            "Gửi xe": servicePricePark
                        };

                        for (var field in fields) {
                            // Kiểm tra nếu giá trị không tồn tại (rỗng hoặc undefined) nhưng không phải là 0
                            if (fields[field] === "" || fields[field] === undefined) {
                                alert("Vui lòng không để trống: " + field + "!");
                                return false; // Ngăn không cho gửi biểu mẫu
                            }
                            if (["Giá cho thuê", "Diện tích", "Số người ở", "Số lượng phòng", "Giá điện", "Giá nước", "Internet", "Gửi xe"].includes(field) && isNaN(fields[field])) {
                                alert("Vui lòng không để trống: " + field + "!");
                                return false; // Prevent form submission
                            }
                        }


                        // Kiểm tra xem có file nào được chọn không
                        if (fileUpload === 0) {
                            alert("Vui lòng chọn ít nhất một file hình ảnh!");
                            return false; // Ngăn không cho gửi biểu mẫu
                        }

                        return true; // Cho phép gửi biểu mẫu
                    }
                </script>

                <div style="text-align: center">
                    <button type="submit" class="btn btn-default" style="width:180px;" onclick="return validateForm();">Đăng phòng ngay</button>
                </div>


            </div>
        </form>
    </div>
</section>


<script>
    var curDate = new Date();

    // Ngày hiện tại
    var curDay = curDate.getDate();

    // Tháng hiện tại
    var curMonth = curDate.getMonth() + 1;

    // Năm hiện tại
    var curYear = curDate.getFullYear();

    // Gán vào thẻ HTML
    document.getElementById('current-time').innerHTML = curDay + "/" + curMonth + "/" + curYear;

    // Hàm thêm dấu chấm phân tách hàng nghìn cho số
    function formatNumber(input) {
        // Remove all non-numeric characters
        let value = input.value.replace(/[^0-9]/g, '');
        // Format the number as currency
        input.value = new Intl.NumberFormat('vi-VN', { style: 'decimal', minimumFractionDigits: 0 }).format(value);
    }

    // Hàm loại bỏ dấu chấm để chuyển về số nguyên
    function parseNumber(value) {
        // Kiểm tra nếu giá trị là null, undefined hoặc không phải là chuỗi
        if (value == null || typeof value !== 'string') {
            return NaN; // Hoặc xử lý lỗi tùy ý
        }

        // Loại bỏ dấu chấm và dấu phẩy (nếu có)
        const cleanedValue = value.replace(/\./g, '').replace(/,/g, '.'); // Thay dấu phẩy bằng dấu chấm

        // Chuyển đổi thành số nguyên hoặc số thập phân
        const number = parseFloat(cleanedValue);

        // Kiểm tra nếu chuyển đổi thành công
        return isNaN(number) ? NaN : number; // Hoặc có thể trả về 0 hoặc giá trị mặc định khác
    }



</script>

<style>
    .group-form {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    }

    .form-title h3 {
        margin-bottom: 15px;
        text-align: center;
        color: #333;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-row {
        display: flex;
        flex-wrap: wrap;
        gap: 50px; /* Khoảng cách giữa các nhóm input */
    }

    .form-group label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .form-control {
        margin-bottom: 10px;
    }

    h4 {
        margin-top: 20px;
        color: #007bff;
    }

</style>