@model WEBSITE_MOTEL.Models.PHONGTRO
@using WEBSITE_MOTEL.Models
@{
    TAIKHOAN nd = (TAIKHOAN)Session["TaiKhoan"];
    CHUTRO ct = (CHUTRO)Session["ChuTro"];
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutUser.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
@using (Html.BeginForm("Index", "RoomPost", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="nav-text">
        <ol>
            <li><a href="@Url.Action("Index","Motel")">Trang chủ</a></li>
            <li id="arrow1">  <i class="fa fa-angle-right"></i>  </li>
            <li><a href="#">Đăng tin</a></li>
        </ol>
    </div>
}

<section class="wrap-content">
    @Html.AntiForgeryToken()
    <div class="content post" style="border: none;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h3 class="notice">Là người văn minh và tôn trọng người xem, hãy viết nội dung bằng Tiếng Việt có dấu!</h3>
        <form class="form" id="form-dangtin" enctype="multipart/form-data" novalidate="novalidate" method="post">
            <div class="wrapper form-step step1">
                <!--Thông tin cơ bản-->
                <div class="group-form">
                    <div class="form-title"><h3>THÔNG TIN CƠ BẢN</h3></div>
                    <div class="group-form-body">
                        <div class="form-group">
                            <label for="tieude">Tiêu đề tin:</label>
                            <input type="email" class="form-control" id="tieude" name="sTieuDe" placeholder="Hãy đặt tiêu đề đầy đủ, ý nghĩa khách hàng sẽ quan tâm hơn" required>
                        </div>
                        <!--form-row 1-->
                        <div class="form-inline">

                            <div class="form-group">
                                <label for="type">Loại hình cho thuê:</label></br>
                                <select class="form-control" id="type">
                                    <option>Chọn loại hình cho thuê</option>
                                    <option>Thuê phòng trọ</option>
                                    <option>Thuê nhà</option>
                                    <option>Chung cư mini</option>
                                    <option>Mặt bằng kinh doanh</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-group ">
                                <input type="hidden" size="70" name="sid" value="@ct.Id" readonly />
                            </div>

                        </div>
                        <!--form-row 2-->
                        <div class="form-inline">
                            <div class="form-group ">
                                <label for="price">Giá cho thuê:</label></br>
                                <input type="number" class="form-control" id="price" name="mGiaCa" placeholder="ex: 1.500.000đ/tháng">
                            </div>
                            <br />
                            <div class="form-group ">
                                <label for="">Diện tích:</label></br>

                                <input type="text" class="form-control" name="sDienTich" placeholder="ex: 20 m2">
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-group ">
                                <label for="">Số người ở:</label></br>
                                <input type="number" class="form-control" name="sSoLuong">
                            </div>

                        </div>
                        <div class="item" style="margin-left: 10px">
                            <div class="item_input">
                                <label style="width:max-content;">Hình thức: <span class="red">(*)</span></label>
                                <div class="item_input">
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" value="1" name="sDoiTuong">Sinh viên

                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" value="2" name="sDoiTuong">Công nhân
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-inline">
                            <div class="form-group ">
                                <label for="">Ngày đăng:</label></br>

                                <input type="date" id="current-time" name="dNgayCapNhat">
                            </div>

                        </div>
                        <div class="form-inline">
                            <div class="form-group ">
                                <input type="hidden" size="70" name="sTrangThai" value="4" readonly />
                            </div>

                        </div>
                        <!--form-row 3-->
                        <h4 style="margin-left:10px">Giá dịch vụ cơ bản:</h4>
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="price-electric">Giá điện:</label></br>
                                <input type="text" class="form-control" id="price-electric" name="sDien" placeholder="ex: 3.000đồng/số">
                            </div>
                            <div class="form-group">
                                <label for="price-water">Giá nước:</label></br>
                                <input type="text" class="form-control" id="price-water" name="sNuoc" placeholder="ex: 15.000đồng/m3">
                            </div>
                            <div class="form-group">
                                <label for="price-internet">Internet:</label></br>
                                <input type="text" class="form-control" id="price-internet" name="sInternet" placeholder="ex: 50.000đồng/tháng">
                            </div>
                            <div class="form-group">
                                <label for="price-park">Gửi xe:</label></br>
                                <input type="text" class="form-control" id="price-park" name="sGuiXe" placeholder="ex: 30.000đồng/tháng">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Phần địa chỉ-->
                <div class="group-form">
                    <div class="form-title"><h3>ĐỊA CHỈ</h3></div>
                    <div class="group-form-body">
                        <div class="form-inline">
                            @*<div class="form-group">
                        <label for="province">Khu vực</label></br>
                        <input id="pac-input" class="controls" type="text" placeholder="Nhập khu vực..."  name="sKhuVuc">
                    </div>*@
                            <div class="form-group">
                                <label for="ward">Phường/Xã</label></br>
                                <select class="form-control" id="ward" name="sKhuVuc">
                                    <option>Phường/Xã</option>
                                    <option>Định Hòa</option>
                                    <option>Phú Hòa</option>
                                    <option>Hoàng Đạo Thúy</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--Thông tin vị trí cụ thể-->
                            <label for="pac-input">Số nhà, Tên đường cụ thể</label></br>
                            <input id="pac-input" class="controls" type="text" placeholder="  Nhập địa chỉ nhà chi tiết..." name="sDiaChi" style="width:300px">
                            <br />
                            @*<p style="position: absolute; top: 85px; color:rgba(89, 68, 206, 0.88) ">Vị trí trên bản đồ.</p>
                    <i style="position: absolute; top: 110px;color: #E74C3C; font-size: 0.8em">
                        Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn,
                        hãy sửa vị trí tin rao của bạn trên bản đồ bằng cách kéo icon <img src="~/images/img-map/position-marker.png" style="width: 20px;height: 25px;"> tới đúng vị
                        trí	của tin rao.
                    </i>
                    <div id="map"><input type="url" name="sMap" /></div>*@
                        </div>
                    </div>
                </div>
                <!--Thông tin mô tả chi tiết-->
                @*<div class="group-form">
            <div class="form-title"><h3>THÔNG TIN MÔ TẢ CHI TIẾT</h3></div>
            <div class="group-form-body">
                <div class="form-group">
                    <label for="comment">Giới thiệu mô tả về tin đăng của bạn. Ví dụ: Khu nhà có vị trí thuận lợi: Gần trường học, gần trạm xe buýt ...Tổng diện tích 52m2, đường đi ô tô vào tận cửa...</label>
                    <textarea class="form-control" rows="5" id="comment" name="sMoTa"></textarea>
                </div>
            </div>
        </div>*@
                <div class="form-group">
                    <div class="form-title"><h3>THÔNG TIN MÔ TẢ CHI TIẾT</h3></div>
                    <div class="group-form-body">
                        <div class="form-group">
                            <label for="comment">Giới thiệu mô tả về tin đăng của bạn. Ví dụ: Khu nhà có vị trí thuận lợi: Gần trường học, gần trạm xe buýt ...Tổng diện tích 52m2, đường đi ô tô vào tận cửa...</label>
                            <textarea name="sMoTa" id="mota">@ViewBag.MoTa</textarea>
                            <script>CKEDITOR.replace("mota")</script>
                        </div>
                    </div>
                </div>

                <!--Phần hình ảnh hoặc video-->
                <div class="group-form">
                    <div class="form-title"><h3>HÌNH ẢNH HOẶC VIDEO VỀ PHÒNG TRỌ.</h3></div>
                    <div class="group-form-body">
                        <p style="color: #044880; font-size: 0.9em">Tin đăng có hình ảnh hoặc video rõ ràng sẽ được xem và gọi gấp nhiều lần so với tin rao không có. Hãy đăng ảnh hoặc video để được giao dịch nhanh chóng!</p>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>LƯU Ý*: NHẤN CTRL TRONG LÚC CHỌN ẢNH ĐỂ CHỌN ĐƯỢC NHIỀU ẢNH CÙNG LÚC (NÊN CHỌN 4 - 5 HÌNH ẢNH).</p>
                                    <p>Định dạng ảnh hỗ trợ: .jpg .png .jpeg .gif - Dung lượng ảnh không quá 2MB</p>

                                    @*<input type=file id="files" name="fFileUpload" multiple accept="" required />*@
                                    @Html.TextBox("fFileUpload", "", new { type = "file", multiple = "multiple", accept = "image/*" })

                                    <br />

                                    <div class="filearray">

                                    </div>
                                    @* script của multiple upload *@
                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                    <script>
                                        $(document).on('ready', () => {
                                            $("#fFileUpload").on('change', function () {
                                                $(".filearray").empty();
                                                for (let i = 0; i < 5; ++i) {
                                                    let filereader = new FileReader();
                                                    let $img = jQuery.parseHTML("<img width='150' height='100' src=''>");
                                                    filereader.onload = function () {
                                                        $img[0].src = this.result;
                                                    };
                                                    filereader.readAsDataURL(this.files[i]);
                                                    $(".filearray").append($img);
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function validateForm() {
                        var title = document.getElementById("tieude").value;
                        var type = document.getElementById("type").value;
                        var price = document.getElementById("price").value;
                        var area = document.getElementsByName("sDienTich")[0].value;
                        var numberOfPeople = document.getElementsByName("sSoLuong")[0].value;
                        var tenantType = document.querySelector('input[name="sDoiTuong"]:checked');
                        var date = document.getElementsByName("dNgayCapNhat")[0].value;
                        var address = document.getElementsByName("sDiaChi")[0].value;
                        var servicePriceElectric = document.getElementById("price-electric").value;
                        var servicePriceWater = document.getElementById("price-water").value;
                        var servicePriceInternet = document.getElementById("price-internet").value;
                        var servicePricePark = document.getElementById("price-park").value;
                        var fileUpload = document.getElementById("fFileUpload").files.length;

                        var fields = {
                            "Tiêu đề tin": title,
                            "Loại hình cho thuê": type,
                            "Giá cho thuê": price,
                            "Diện tích": area,
                            "Số người ở": numberOfPeople,
                            "Hình thức": tenantType,
                            "Ngày đăng": date,
                            "Địa chỉ": address,
                            "Giá điện": servicePriceElectric,
                            "Giá nước": servicePriceWater,
                            "Internet": servicePriceInternet,
                            "Gửi xe": servicePricePark
                        };

                        for (var field in fields) {
                            if (!fields[field]) {
                                alert("Vui lòng điền đầy đủ các trường: " + field + "!");
                                return false; // Ngăn không cho gửi biểu mẫu
                            }
                        }

                        // Kiểm tra xem có file nào được chọn không
                        if (fileUpload === 0) {
                            alert("Vui lòng chọn ít nhất một file hình ảnh!");
                            return false; // Ngăn không cho gửi biểu mẫu
                        }

                        return true; // Cho phép gửi biểu mẫu
                    }
                </script>

                <button type="submit" class="btn btn-default" style="width:135px;" onclick="return validateForm();">Đăng tin ngay</button>

            </div>
        </form>
    </div>
</section>


<script>
    var curDate = new Date();

    // Ngày hiện tại
    var curDay = curDate.getDate();

    // Tháng hiện tại
    var curMonth = curDate.getMonth() + 1;

    // Năm hiện tại
    var curYear = curDate.getFullYear();

    // Gán vào thẻ HTML
    document.getElementById('current-time').innerHTML = curDay + "/" + curMonth + "/" + curYear;
</script>
