@model WEBSITE_MOTEL.Models.PHONGTRO
@using WEBSITE_MOTEL.Models
@{
    TAIKHOAN nd = (TAIKHOAN)Session["TaiKhoan"];
    CHUTRO ct = (CHUTRO)Session["ChuTro"];
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutUser.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
@using (Html.BeginForm("Index", "RoomPost", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="nav-text">
        <ol>
            <li><a href="@Url.Action("Index","Motel")">Trang chủ</a></li>
            <li id="arrow1">  <i class="fa fa-angle-right"></i>  </li>
            <li><a href="#">Đăng tin</a></li>
        </ol>
    </div>
}

<section class="wrap-content">
    @Html.AntiForgeryToken()
    <div class="content post" style="border: none;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h3 class="notice">Là người văn minh và tôn trọng người xem, hãy viết nội dung bằng Tiếng Việt có dấu!</h3>
        <form class="form" id="form-dangtin" enctype="multipart/form-data" novalidate="novalidate" method="post">
            <div class="wrapper form-step step1">
                <!--Thông tin cơ bản-->
                <div class="group-form">
                    <div class="form-title"><h3>THÔNG TIN CƠ BẢN</h3></div>
                    <div class="group-form-body">
                        <div class="form-group">
                            <label for="tieude">Tiêu đề tin:</label>
                            <input type="email" class="form-control" id="tieude" name="sTieuDe" placeholder="Hãy đặt tiêu đề đầy đủ, ý nghĩa khách hàng sẽ quan tâm hơn" required>
                        </div>
                        <!--form-row 1-->
                        <div class="form-inline">

                            <div class="form-group">
                                <label for="type">Loại hình cho thuê:</label></br>
                                <select class="form-control" id="type">
                                    <option>Chọn loại hình cho thuê</option>
                                    <option>Thuê phòng trọ</option>
                                    <option>Thuê nhà</option>
                                    <option>Chung cư mini</option>
                                    <option>Mặt bằng kinh doanh</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="mobile">Số điện thoại:</label></br>
                                <input type="text" class="form-control" id="mobile" name="sSDT">
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-group ">
                                <input type="hidden" size="70" name="sid" value="@ct.Id" readonly />
                            </div>

                        </div>
                        <!--form-row 2-->
                        <div class="form-inline">
                            <div class="form-group ">
                                <label for="price">Giá cho thuê:</label></br>
                                <input type="number" class="form-control" id="price" name="mGiaCa">
                            </div>

                            <div class="form-group ">
                                <label for="">Diện tích:</label></br>

                                <input type="text" class="form-control" name="sDienTich">
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-group ">
                                <label for="">Số lượng:</label></br>
                                <input type="number" class="form-control" name="sSoLuong">
                            </div>

                        </div>
                        <div class="item">
                            <div class="item_input">
                                <label style="width:max-content;">Hình thức: <span class="red">(*)</span></label>
                                <div class="item_input">
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" value="1" name="sDoiTuong">Sinh viên

                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" value="2" name="sDoiTuong">Công nhân
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-inline">
                            <div class="form-group ">
                                <label for="">Ngày đăng:</label></br>

                                <input type="date" id="current-time" name="dNgayCapNhat">
                            </div>

                        </div>
                        <div class="form-inline">
                            <div class="form-group ">
                                <input type="hidden" size="70" name="sTrangThai" value="4" readonly />
                            </div>

                        </div>
                        <!--form-row 3-->
                        <h4>Giá dịch vụ cơ bản:</h4>
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="price-electric">Giá điện:</label></br>
                                <input type="text" class="form-control" id="price-electric" name="sDien" placeholder="ex: 3.000đồng/số">
                            </div>
                            <div class="form-group">
                                <label for="price-water">Giá nước:</label></br>
                                <input type="text" class="form-control" id="price-water" name="sNuoc" placeholder="ex: 15.000đồng/m3, 50.000đồng/tháng">
                            </div>
                            <div class="form-group">
                                <label for="price-internet">Internet:</label></br>
                                <input type="text" class="form-control" id="price-internet" name="sInternet" placeholder="ex: 50.000đồng/tháng">
                            </div>
                            <div class="form-group">
                                <label for="price-park">Gửi xe:</label></br>
                                <input type="text" class="form-control" id="price-park" name="sGuiXe" placeholder="ex: Free, 50.000đồng/tháng">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Phần địa chỉ-->
                <div class="group-form">
                    <div class="form-title"><h3>ĐỊA CHỈ</h3></div>
                    <div class="group-form-body">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="province">Khu vực</label></br>
                                <input id="pac-input" class="controls" type="text" placeholder="Nhập khu vực..."  name="sKhuVuc">
                            </div>
                            @*<div class="form-group">
                                <label for="district">Quận/Huyện</label></br>
                                <select class="form-control" id="district">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="ward">Phường/Xã</label></br>
                                <select class="form-control" id="ward">
                                    <option>Phường/Xã</option>
                                    <option>Định Hòa</option>
                                    <option>Phú Hòa</option>
                                    <option>Hoàng Đạo Thúy</option>
                                </select>
                            </div>*@
                        </div>
                        </br>
                        <div class="form-group">
                            <!--Thông tin vị trí cụ thể-->
                            <label for="pac-input">Số nhà, Tên đường cụ thể</label></br>
                            <input id="pac-input" class="controls" type="text" placeholder="Nhập địa chỉ nhà chi tiết..." name="sDiaChi">
                            <p style="position: absolute; top: 85px; color:rgba(89, 68, 206, 0.88) ">Vị trí trên bản đồ.</p>
                            <i style="position: absolute; top: 110px;color: #E74C3C; font-size: 0.8em">
                                Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn,
                                hãy sửa vị trí tin rao của bạn trên bản đồ bằng cách kéo icon <img src="~/images/img-map/position-marker.png" style="width: 20px;height: 25px;"> tới đúng vị
                                trí	của tin rao.
                            </i>
                            <div id="map"><input type="url" name="sMap" /></div>
                        </div>
                    </div>
                </div>
                <!--Thông tin mô tả chi tiết-->
                @*<div class="group-form">
            <div class="form-title"><h3>THÔNG TIN MÔ TẢ CHI TIẾT</h3></div>
            <div class="group-form-body">
                <div class="form-group">
                    <label for="comment">Giới thiệu mô tả về tin đăng của bạn. Ví dụ: Khu nhà có vị trí thuận lợi: Gần trường học, gần trạm xe buýt ...Tổng diện tích 52m2, đường đi ô tô vào tận cửa...</label>
                    <textarea class="form-control" rows="5" id="comment" name="sMoTa"></textarea>
                </div>
            </div>
        </div>*@
                <div class="form-group">
                    <div class="form-title"><h3>THÔNG TIN MÔ TẢ CHI TIẾT</h3></div>
                    <div class="group-form-body">
                        <div class="form-group">
                            <label for="comment">Giới thiệu mô tả về tin đăng của bạn. Ví dụ: Khu nhà có vị trí thuận lợi: Gần trường học, gần trạm xe buýt ...Tổng diện tích 52m2, đường đi ô tô vào tận cửa...</label>
                            <textarea name="sMoTa" id="mota">@ViewBag.MoTa</textarea>
                            <script>CKEDITOR.replace("mota")</script>
                        </div>
                    </div>
                </div>
                
                <!--Phần hình ảnh hoặc video-->
                <div class="group-form">
                    <div class="form-title"><h3>HÌNH ẢNH HOẶC VIDEO VỀ PHÒNG TRỌ.</h3></div>
                    <div class="group-form-body">
                        <p style="color: #044880; font-size: 0.9em">Tin đăng có hình ảnh hoặc video rõ ràng sẽ được xem và gọi gấp nhiều lần so với tin rao không có. Hãy đăng ảnh hoặc video để được giao dịch nhanh chóng!</p>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>Định dạng ảnh hỗ trợ: .jpg .png .jpeg .gif - Dung lượng ảnh không quá 2MB</p>
                                    @*<input type=file id="files" name="fFileUpload" multiple accept="" required />*@
                                    @Html.TextBox("fFileUpload", "", new { type = "file", multiple = "multiple", accept = "image/*" })

                                    <br />

                                    <div class="filearray">

                                    </div>
                                    @* script của multiple upload *@
                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                    <script>
                                        $(document).on('ready', () => {
                                            $("#fFileUpload").on('change', function () {
                                                $(".filearray").empty();
                                                for (let i = 0; i < 5; ++i) {
                                                    let filereader = new FileReader();
                                                    let $img = jQuery.parseHTML("<img width='150' height='100' src=''>");
                                                    filereader.onload = function () {
                                                        $img[0].src = this.result;
                                                    };
                                                    filereader.readAsDataURL(this.files[i]);
                                                    $(".filearray").append($img);
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default" style="width:135px;">Đăng tin ngay</button>
            </div>
        </form>
    </div>
</section>


<script>
    function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 21.028511, lng: 105.804817 },
            zoom: 13,
            mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });
        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();
            if (places.length == 0) {
                return;
            }
            // Clear out the old markers.
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            markers = [];
            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };
                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: 'https://congtrinh0209.github.io/Du_anTN/IMG/position-marker.png',
                    title: place.name,
                    position: place.geometry.location,
                    draggable: true,
                }));
                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
            function moveMarker(map, marker) {
                marker.setPosition(new google.maps.LatLng(Lat, Lng));
                map.panTo(new google.maps.LatLng(Lat, Lng));
            };
        });

    }</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDUYFDaXnS0a217T0rP3xNrnqxuErZsD4&language=vi&region=vie&libraries=places&callback=initAutocomplete"
        async defer></script>

<script>
    var curDate = new Date();

    // Ngày hiện tại
    var curDay = curDate.getDate();

    // Tháng hiện tại
    var curMonth = curDate.getMonth() + 1;

    // Năm hiện tại
    var curYear = curDate.getFullYear();

    // Gán vào thẻ HTML
    document.getElementById('current-time').innerHTML = curDay + "/" + curMonth + "/" + curYear;
</script>
