@using WEBSITE_MOTEL.Models
@model WEBSITE_MOTEL.Models.NguoiDung
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/_LayoutUser.cshtml";
}

@{
    TAIKHOAN tk = (TAIKHOAN)Session["TaiKhoan"];
}

<div class="nav-text">
    <ol>
        <li><a href="@Url.Action("Index", "Motel")">Trang chủ</a></li>
        <li id="arrow1"><i class="fa fa-angle-right"></i></li>
        <li class="active" id="search-target">Quản lý thông tin</li>
    </ol>
</div>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@using (Html.BeginForm("ManageInfoND", "Info", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="wrap-content">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.sId)
        <div class="content" style="border: none;">
            <div class="wrapper">
                <div class="tab-content">
                    <div role="tabpanel" id="thong_tin_ca_nhan">
                        <div class="table-responsive">
                            <div id="form_thong_tin_ca_nhan" class="js-form-thong-tin-ca-nhan">

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <label for="username">Tài khoản</label>
                                            <input type="text" class="form-control" name="sTaiKhoanND" value="@tk.TaiKhoan" disabled="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <label for="first_name">Họ và tên</label>
                                            <input type="text" class="form-control" name="sHotenND" value="@Model.sHotenND">
                                            @Html.ValidationMessageFor(model => model.sHotenND, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <label for="phone">Điện thoại</label>
                                            <input type="text" class="form-control" name="sSDTND" value="@Model.sSDTND">
                                            @Html.ValidationMessageFor(model => model.sSDTND, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" name="sEmailND" value="@Model.sEmailND">
                                            @Html.ValidationMessageFor(model => model.sEmailND, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <label for="password_new">Mật khẩu</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" name="sMatKhauND" id="password_new" placeholder="" value="@Model.sMatKhauND">
                                                <span class="input-group-addon" id="toggle-password" style="cursor: pointer;">
                                                    <i class="fa fa-eye" id="eye-icon"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.sMatKhauND, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" name="action" value="update_user_info">
                                <button type="submit" class="btn btn-primary" formmethod="post" id="update">Cập nhật</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script>
    document.getElementById('toggle-password').addEventListener('click', function () {
        const passwordInput = document.getElementById('password_new');
        const eyeIcon = document.getElementById('eye-icon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        }
    });
</script>
