@using WEBSITE_MOTEL.Models
@using PagedList.Mvc;
@model IEnumerable<WEBSITE_MOTEL.Models.PHONGTRO>
@helper Truncate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length)<text>...</text>
    }
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAD.cshtml";
}

<div style="overflow-x:auto;">
    <table class="table">
        <tr>
            <th style="text-align:center">
                STT
            </th>
            <th style="text-align:center">
                Thống kê
            </th>
            <th style="text-align:center">
                Số lượng
            </th>
        </tr>

        <tr>
            <th>
                1
            </th>
            <td>
                Phòng đang đăng tin
            </td>
            <td>
                @if (Model != null)
                {
                    @Model.Count(n => n.TrangThai == 1)
                }
                else
                {
                    <p style="margin-top: 1rem">Không có dữ liệu</p>
                }
            </td>
        </tr>

        <tr>
            <th>
                2
            </th>
            <td>
                Phòng đã cho thuê
            </td>
            <td>
                @if (Model != null)
                {
                    @Model.Count(n => n.TrangThai == 3)
                }
                else
                {
                    <p style="margin-top: 1rem">Không có dữ liệu</p>
                }
            </td>
        </tr>
        <tr>
            <th>
                3
            </th>
            <td>
                Phòng đang chờ duyệt 
            </td>
            <td>
                @if (Model != null)
                {
                    @Model.Count(n => n.TrangThai == 4)
                }
                else
                {
                    <p style="margin-top: 1rem">Không có dữ liệu</p>
                }
            </td>
        </tr>
    </table>
</div>

<div style="text-align: right;">
    <a href="@Url.Action("ExportToExcel", "ThongKe")" class="btn btn-primary">Xuất Excel</a>
</div>


<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>

<style>
    /* Thanh trượt ngang */
    div.table-container {
        overflow-x: auto;
    }

    /* Thiết lập kiểu dáng của thanh trượt */
    ::-webkit-scrollbar {
        height: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: white;
    }

    ::-webkit-scrollbar-track {
        background: #333333;
    }

    /* Thiết lập kiểu dáng của bảng */
    table.table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

        table.table th,
        table.table td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
            font-size: 16px;
            color: white;
        }

        table.table th {
            background-color: #333333;
            color: white;
        }
</style>




